*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}


header {
    background: url('../img/Logo.png') center/cover;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 10;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    transition: 0.5s;
    padding: 5px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: aliceblue;

    padding: 5px;
    padding-left: 30px;

    background: rgb(39, 41, 41);

    transition: 0.2s;
}


body {
    background-color: rgb(22, 22, 22);
}

body p {
    text-align: center;
    color: rgb(110, 110, 110);
    transition: 0.2s;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "i1 i2"
        "ta ta"
        "vi bt";
}

input,
textarea {
    margin: 5px;
    border: 1px solid rgb(140, 140, 140);
    padding: 10px;
    border-radius: 5px;

    font-size: 1.1rem;

}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
}


p {
    padding: 20px;
}

footer {
    background: url('../img/PLC\ inf\ 1.jpeg') center/cover;
    transition: 0.2s;
}

footer p {
    color: aliceblue;
    text-align: justify;
    transition: 0.2s;

}




@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section {
    min-height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.section_2 {
    min-height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.section p {
    text-align: center;
    color: rgb(53, 52, 52);
    transition: 0.2s;
}


.flexbox,
.grid {
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5%;
}


.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 400px;

    background-color: rgb(22, 22, 22);
    border-radius: 2px;

    margin-top: 10px;
    margin-bottom: 20px;

    transition: 0.2s;
}


.container-onglets {
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 1px solid #333;
    transition: 0.2s;
}


.onglets {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    transition: 0.2s;
}


.contenu {
    height: 80%;
    width: 100%;
    position: absolute;
    opacity: 0;
    color: aliceblue;
    transition: 0.2s;
}

.contenu h3 {
    padding: 20px;
    transition: 0.2s;
}

.contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background-color: aliceblue;
    border: none;
    transition: 0.2s;
}

.contenu p {
    padding: 20px;
    text-align: justify;
    color: aliceblue;
    transition: 0.2s;
}

.active {
    background: url('../img/PLC\ inf\ 2.jpg') center/cover;
    color: #f1f1f1;
    transition: all 0.2s ease;
}


.activeContenu {
    animation: fade 0.2s forwards;
}


.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    transition: 0.2s;
    margin-bottom: 45px;
}

.grid img {
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.grid p {
    text-align: justify;
    color: aliceblue;
    padding-bottom: 0;
}

/*  
--------------------------------------------Ecran de télévision--------------------------------------------
*/

@media screen and (max-width: 1300px) {

    .container {
        width: 990px;
        transition: 0.2s;
    }

    .onglets {
        width: 330px;
        transition: 0.2s;
    }
}

/*  
--------------------------------------------Ecran fixe d'ordi--------------------------------------------
*/

@media screen and (max-width: 1000px) {
    .container {
        width: 660px;
        transition: 0.2s;
    }

    .onglets {
        width: 220px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }


}

/*  
--------------------------------------------Ecran d'ordi portable--------------------------------------------
*/

@media screen and (max-width: 750px) {
    h1 {
        font-size: 30px;
        transition: 0.5s;
    }

    .container {
        width: 480px;
        transition: 0.2s;
    }

    .onglets {
        width: 160px;
        transition: 0.2s;
        font-size: 15px;
    }


}

/*  
--------------------------------------------Ecran de tablette--------------------------------------------
*/

@media screen and (max-width: 480px) {

    h1 {
        font-size: 20px;
        transition: 0.5s;
    }


    .container {
        width: 180px;
        transition: 0.2s;
    }

    .onglets {
        width: 60px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}

/*  
--------------------------------------------Ecran de téléphone--------------------------------------------
*/

@media screen and (max-width: 320px) {

    h1 {
        font-size: 10px;
        transition: 0.5s;
    }


    .container {
        width: 240px;
        transition: 0.2s;
    }

    .contenu p {
        font-size: 5px;
    }

    .contenu h3 {
        font-size: 5px;
    }

    .onglets {
        width: 80px;
        transition: 0.2s;
        font-size: 5px;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}

#btn-submit:hover {
    background: rgb(160, 160, 160);
    color: rgb(40, 40, 40);
}

footer:hover {
    transition: 0.2s;
    padding-bottom: 5px;
}

footer:hover>h2 {
    background: url('../img/Logo.png') center/cover;
    transition: 1s;
    padding: 5px;
    padding-left: 40px;
}

.section:hover {
    background: rgb(33, 34, 34);
    color: aliceblue;

    transition: 0.2s;
}

.section_2:hover {
    background: rgb(33, 34, 34);
    color: aliceblue;

    transition: 0.2s;
}

.section:hover>h2 {
    padding: 5px;
    padding-left: 40px;

    background: url('../img/Logo.png') center/cover;
    transition: 1s;
}

.section_2:hover>h2 {
    padding: 5px;
    padding-left: 40px;

    background: url('../img/Logo.png') center/cover;
    transition: 1s;
}

.section:hover>p {
    color: aliceblue;
    transition: 0.2s;

}

.section:hover>.container {
    margin-top: 15px;
    transition: 0.2s;
    background: rgb(33, 34, 34);
}